<!DOCTYPE html>
<html ng-app="quizApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Places Undiscovered</title>
        <link rel="stylesheet" href="css/styles.css" />

        <script src="/node_modules/angular/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.0.1/lodash.js"></script>
        <script src="app.js"></script>
    </head>

    <body>
        <div id="myQuiz" ng-controller="QuizController">
            <h1>Geography Quiz: Are you smarter than an <span>american?</span></h1>
            <div class="progress">
                <div class="
                    {{ ($index === activeQuestion) ? 'on' : 'off' }},
                    {{ (myQuestion.questionState === 'answered') ? 'answered' : 'unanswered' }}
                    {{ (myQuestion.correctness === 'correct') ? 'correct' : 'incorrect' }}"
                    ng-repeat="myQuestion in myQuestions">
                </div>
            </div>
            <div class="intro {{ (activeQuestion > -1) ? 'inactive' : 'active'}}">
                <h2></h2><br />
                <p>Test your skills and see if you know American geography by clicking below.</p>
                <p class="btn" ng-click="activeQuestion = 0">Begin</p>
            </div>
            <div class="question
                {{ $index === activeQuestion ? 'active' : 'inactive' }}
                {{ myQuestion.questionState === 'answered' ? 'answered' : 'unanswered' }}"
                ng-repeat="myQuestion in myQuestions">
                <p class="text">{{myQuestion.question}}</p>
                <p class="answer"
                    ng-class="{
                                image:Answer.image,
                                selected:isSelected($parent.$index, $index),
                                correct:isCorrect($parent.$index, $index)
                            }"
                    ng-style="{ 'background-image':'url({{Answer.image}})' }"
                    ng-click="selectAnswer($parent.$index, $index)"
                    ng-repeat="Answer in myQuestions[$index].answers">
                    {{Answer.text}}
                </p>
                <div class="feedback">
                    <p ng-show="myQuestion.correctness === 'correct'">Way to go! You are <strong>correct!<strong></p>
                    <p ng-show="myQuestion.correctness === 'incorrect'">Sorry mate, seems you're wrong!</p>
                    <p>{{myQuestion.feedback}}</p>
                    <div class='btn' ng-click="selectContinue()">Continue</div>
                </div>
            </div>
            <div class="results {{ (totalQuestions === activeQuestion) ? 'active' : 'inactive' }}">
                <h3>Results</h3>
                <p>You scored {{percentage}}% by correctly answering {{score}} of the total {{totalQuestions}} questions.</p>
                <p>Share your results a friend!</p>
                <div class="share" ng-bind-html="createShareLinks(percentage)"></div>
            </div>
        </div>
        <script src="/node_modules/angular/angular.js"></script>
        <script type="text/javascript" src="app.js"></script>
    </body>
</html>

<!-- <link src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
